<!-- Wrapper -->
<div id="wrapper">
<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>
	
<!-- Twitch Banner -->
<div id="twitch-banner"></div>
<!-- Menu -->
<nav id="menu">
	<ul class="links">
		
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
		{% for page in site.html_pages %}
		    {% if page.layout != "home" and page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
		<li><a href="https://mangomc.net">MangoMC.net</a></li>
	</ul>
</nav>
<!-- Script to check Twitch status and show/hide banner -->
<script>
function checkTwitchStatus() {
  const channelName = "kitboga";
  const twitchApiUrl = `https://api.twitch.tv/helix/streams?user_login=${channelName}`;
  const twitchClientId = "0qjr6rkb51ruh43lrkrq99uo7g0l9u";

  fetch(twitchApiUrl, {
    headers: {
      "Client-ID": twitchClientId
    }
  })
    .then(response => response.json())
    .then(data => {
      if (data.data.length > 0) {
        // witch channel is live, so show the banner.
        const bannerElement = document.getElementById("twitch-banner");
        bannerElement.innerHTML = `
          <a href="https://twitch.tv/${channelName}">
            <p>Watch my stream now!</p>
          </a>
        `;
      } else {
        // Twitch channel is offline, so hide the banner.
        const bannerElement = document.getElementById("twitch-banner");
        bannerElement.innerHTML = "";
      }
    })
    .catch(error => {
      console.error(error);
    });
}

setInterval(checkTwitchStatus, 5 * 60 * 1000); // Check every 5 minutes
</script>
</div>
